/* Centralizar o container principal */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
    font-family: Arial, sans-serif;
}

#content{
    padding-left: 0;
}

.auth-container {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilo dos campos de entrada */
.input-group {
    text-align: left;
    position: relative;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #666;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #ba252e;
}

/* Botão de submissão */
.submit-btn, .toggle-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.submit-btn {
    background-color: #ba252e;
    color: #fff;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #A62028;
}

.toggle-btn {
    background-color: transparent;
    color: #A62028;
    margin-top: 15px;
    font-size: 14px;
}

.toggle-btn:hover {
    text-decoration: underline;
}

.error-message{
    color: #ba252e;
    font-size: 12px;
    display: none;
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    color: #333;
}

.toggle-password img{
    max-height: 3vh;
}

/* Ajuste para os campos de senha e a posição do ícone de olho */
.input-group input[type="password"],
.input-group input[type="text"] {
    padding-right: 30px; /* Espaço para o ícone de olho */
}