@font-face{
    font-family: "Afacad";
    src: url("../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf");
}

@font-face{
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose-Pro-Regular-trial.ttf");
}

@-webkit-keyframes fadeout{
    from{color: #f9f9f9;}
    to{color: #ba252e;}
}

body{
    background-color: #111;
}

/* Navbar padrão */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 3vw; /* Largura inicial da navbar */
    background-color: #222;
    color: #f9f9f9;
    padding-top: 10vh;
    z-index: 999;
    transition: width 0.3s ease; /* Animação suave para expandir/recolher */
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    margin: 15px 0;
}

.navbar a{
    color: #f9f9f9;
    font-family: Afacad;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    display: none;
    text-align: center;
}

.navbar a:hover{
    animation: fadeout 0.2s linear 1 normal forwards;
}

/* Navbar expandida */
.navbar-expanded{
    width: 10vw; /* Largura da navbar quando expandida */
}

/* Estilos do Header */
header{
    transition: margin-left 0.3s ease;
}

footer{
    transition: margin-left 0.3s ease; /* Transição suave para o deslocamento */
    z-index: 1000;
    width: auto;
}

/* Estilos do Conteúdo */
#content{
    transition: margin-left 0.3s ease; /* Transição suave para o deslocamento */
    padding: 45px 0 0 0;
    margin-left: 3vw;
    max-width: 97vw;
    padding-bottom: 50px;
}

/* Deslocamento do Header e Conteúdo */
.content-shifted{
    margin-left: 10vw;
    max-width: 90vw; /* Alinhado com a navbar expandida */
}

/* Estilo das seções */
.section{
    transition: margin-left 0.3s ease; /* Transição suave para o deslocamento */
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 3vw;
    padding-right: 5vw;
    color: #f9f9f9;
}


/* Backgrounds personalizados */
.bg-1{
    background-color: #111;
}
.bg-2{
    background-color: #222;
}
.bg-3{
    background-color: #333;
}
.bg-4{
    background-color: #444;
}
.bg-5{
    background-color: #555;
}

/* Animações de rolagem */
.fade-in{
    opacity: 0; /* Começa invisível */
    transform: translateY(20px); /* Move o elemento um pouco para baixo */
    transition: opacity 1s ease, transform 1s ease; /* Aumenta a duração para 1 segundo */
}

.fade-in.appear{
    opacity: 1; /* Fica visível */
    transform: translateY(0); /* Retorna à posição original */
}

/* Efeito de fade-out */
.fade-out{
    opacity: 1; /* Começa visível */
    transition: opacity 1s ease; /* Aumenta a duração para 1 segundo */
}

.fade-out.appear{
    opacity: 0; /* Desaparece gradualmente */
}

p{
    text-align: justify;
}

html{
    scroll-behavior: smooth;
}

/* Estilo da tela de carregamento */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    z-index: 9999; /* Fica sobre todos os outros elementos */
    color: white;
    font-family: Cocogoose; /* Substitua pela sua fonte desejada */
}

.loader-inner{
    text-align: center; /* Centraliza o texto do loader */
}

.spinner{
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animação de rotação */
    margin: 20px auto; /* Adiciona margens automáticas para centralizar */
}

@keyframes spin{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

/* Estilo para a animação de fade-in */
.fade-in-up{
    opacity: 0;
    transform: translateY(20px); /* Inicia 20px abaixo da posição original */
    animation: fadeInUp 0.8s forwards; /* Define a duração da animação */
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(20px); /* Começa abaixo */
    }
    100%{
        opacity: 1;
        transform: translateY(0); /* Termina na posição original */
    }
}

figure img{
    max-height: 200px;
}

body{
    padding: 0px;
    margin: 0;
}
