@font-face{
    font-family: "Showdex";
    src: url("../fonts/Showdex.ttf");
}

@keyframes rotationY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
}

.showdex{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Showdex;
    color: #ba252e;
    font-size: 100px;
    transform: rotate(-7.5deg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#samuraisxg{
    max-height: 300px;
    animation: rotationY 6s infinite linear;
}

#lastnews {
    margin-left: 0;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#news-list{
    display: flex;
    padding: 0; 
    margin: 0; 
    list-style-type: none; 
}
.news {
    width: 400px; 
    margin: 10px; 
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff; 
}

.news:hover{
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.image {
    max-height: 250px; 
    width: 100%; 
    object-fit: cover; 
}
