@font-face{
    font-family: "Afacad";
    src: url("../fonts/AfacadFlux-VariableFont_slnt,wght.ttf");
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.news{
    display: flex;
    max-width: 800px;
    min-height: 250px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: row;    
}

.news:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.image img{
    margin-right: 20px;
    height: 250px;
    width: 300px;
}

.newscontent{
    max-width: 360px;
}

.news h1{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Afacad, Arial, sans-serif;
}

.news h2{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: justify;
}

.news h3{
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    text-align: right;
}

span{
    font-family: Afacad;
}
