@font-face{
    font-family: "Afacad";
    src: url("../fonts/AfacadFlux-VariableFont_slnt,wght.ttf");
}

body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.news{
    display: flex;
    max-width: 800px;
    min-height: 250px;
    align-items: start;
    align-content: end;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    flex-direction: row;    
}

.news:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.image img{
    height: 250px;
    max-width: 400px; 
    object-fit: cover; 
}

.newscontent{
    right: 0;
    padding-left: 30px;
    max-width: auto;
    align-content: end;
}

.news h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.news h2{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: justify;
}

.news h3{
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

/* fiz essa merda aqui  */
.author-pfp{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}


.author{
    display: flex;
    align-content: center;
    align-items: center;
    right: 0;
    margin-left: auto;
    bottom: 0;
    margin-top: auto;
}

/* Estilo para o modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #ba252e;
    text-decoration: none;
    cursor: pointer;
}

#modalImage {
    display: block;
    margin: 15px auto;
}

.modal h1{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Afacad";
}

.modal h2{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: justify;
    font-family: "Afacad";
}

.modal h3{
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    font-family: "Afacad";
}

#authorModal{
    font-family: Afacad;
    font-size: large;
    display: flex;
    justify-content: right;
}

hr{
    border: none;
    height: 1px;
    background-color: #666;
    opacity: 50%;
    width: 80%; 
    margin: 40px auto;
}