@font-face{
    font-family: "Afacad";
    src: url("../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf");
}

@font-face{
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose-Pro-Regular-trial.ttf");
}

@keyframes changeBackground{
    0%{background-color: #f9f9f9;}
    100%{background-color: #333;}
}

@keyframes changeHeaderFooter{
    0%{background-color: #333;}
    100%{background-color: black;}
}

@keyframes changeTextColor{
    0%{color: #333;}
    100%{columns: #f9f9f9;}    
}

body{
    background-color: #f9f9f9;
    animation: changeBackground 2s forwards;
    animation-delay: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


header{
    animation: changeHeaderFooter 1.5s forwards;
}

footer{
    animation: changeHeaderFooter 1.5s forwards;
}

.carousel{
    margin-top: -100px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.slides{
    display: flex;
    transition: transform 0.4s ease;
}

.slide{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-arrows{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.nav-arrows label{
    font-size: 30px;
    color: #f9f9f9;
    cursor: pointer;
    pointer-events: all;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.nav-arrows label:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-arrows .prev{
    left: 10px;
}

.nav-arrows .next{
    right: 10px;
}

.title{
    color: #f9f9f9;
    animation: changeTextColor 2.5s forwards;
    margin-top: 150px;
    font-family: Cocogoose;
}

/* Estilo da tela de carregamento */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    z-index: 9999; /* Fica sobre todos os outros elementos */
    color: white;
    font-family: Cocogoose; /* Substitua pela sua fonte desejada */
}

.loader-inner {
    text-align: center; /* Centraliza o texto do loader */
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animação de rotação */
    margin: 20px auto; /* Adiciona margens automáticas para centralizar */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#profile h3{
    color: #f9f9f9;
    animation: changeTextColor 2s forwards;
}

#adm{
    color: #f9f9f9;
    animation: changeTextColor 2s forwards;
}