{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/adm.css')}}">
{% endblock %}

{% block title %}
SX Gaming | Admin Page
{% endblock %}

{% block content %}
<body>
<div id="content">
   
    <div class="form-container">
        <h1>Adicionar Notícia</h1>
        <form method="POST" action="{{ url_for('add_noticia') }}">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" maxlength="150" required>

            <label for="resumo">Resumo:</label>
            <input type="text" id="resumo" name="resumo" maxlength="150" required>

            <label for="conteudo">Conteúdo:</label>
            <textarea id="conteudo" name="conteudo" maxlength="500" rows="5" required></textarea>

            <label for="img_link">Link da Imagem:</label>
            <input type="text" id="img_link" name="img_link" maxlength="150" required>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <div class="select-option">
        <div>
            <button class="button-6" id="noticias-btn">Notícias</button>
            <button class="button-6" id="usuarios-btn">Usuários</button>
        </div>
        
        <div class="all-news">
            <div class="list-news">
                {% for noticia in noticias %}
                <li style="list-style: none;">
                    <div class="news">
                        <img class="image" src="{{ noticia.image_link }}">
                        <p id="data"><small>{{ noticia.date_published.strftime('%d/%m/%Y') }}</small></p>
                        <h3 id="titulo">{{ noticia.title }}</h3>
                        <button class="button-6" >Remover</button>
                    </div>
                </li>
            {% endfor %}
            </div>
        </div>

        <div class="all-users">
            <div class="list-users">
                {% for user in users %}
                <li style="list-style: none;">
                    <div class="user">
                        <!-- <img class="image" src="{{ user.profile_pic }}"> -->
                        <p id="id">{{ user.id }}</p>
                        <p id="username">{{ user.username }}</p>
                        <button class="button-6" >Remover</button>
                    </div>
                </li>
                {% endfor %}
            </div>
        </div>

    </div>


</div>

{% endblock %}
