{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}


{% block title %}
SX Gaming - SignIn/SingUp
{% endblock %}

{% block content %}
<div id="content">
    <div class="auth-container">
        <h2 id="auth-title">Login</h2>
        <form method="POST" id="auth-form" novalidate onsubmit="return validateForm()">
            <input type="hidden" name="action" value="login" id="auth-action">

            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" name="username" placeholder="Usuário" required>
                <span class="error-message"></span>
            </div>

            <div class="input-group" id="password">
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="button" class="toggle-password" onclick="togglePasswordVisibility('password')">👁️</button>
                <span class="error-message"></span>
            </div>
            
            <div class="input-group" id="password-check" style="display: none;"> <!-- Aqui está o campo -->
                <label for="password-check">Verifique sua senha</label>
                <input type="password" name="password-check" placeholder="Digite novamente sua senha" required>
                <button type="button" class="toggle-password" onclick="togglePasswordVisibility('password-check')">👁️</button>
                <span class="error-message"></span>
            </div>

            <div class="input-group" id="email-field" style="display: none;">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" required>
                <span class="error-message"></span>
            </div>

            <button type="submit" class="submit-btn">Entrar</button>
        </form>

        <button onclick="toggleAuthMode()" class="toggle-btn" id="toggle-btn">Não tem login? Registre-se</button>
    </div>
</div>

<script src="{{url_for('static', filename='js/auth.js')}}"></script>


{% endblock %}