<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='media/img/favicon/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {% block css %}{% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/historia">Nossa História</a>
            <a href="/players">Players</a>
            <a href="/noticias">Notícias</a>
        
            {% if current_user.is_authenticated %}
                <a href="/logout">Logout</a>
                {% if current_user.is_admin %}
                    <a href="/adm">Administração</a>
                {% endif %}

                {% else %}
                <a href="/auth">Login/Registrar</a>
            {% endif %}
        
        </nav>
    </header>


    {% block content %}
    {% endblock %}

    
    <footer>
        <div class="footer-content">
            <img src="{{url_for('static', filename='media/img/logo.png')}}" alt="logo">
            <div>© SX Gaming, 2024</div>
            <a href="https://x.com/SxG_esports" target="_blank"><img src="{{url_for('static', filename='media/img/redes/x.png')}}" alt="X/Twitter" class="social-media"></a>
        </div>
        <div style="padding-right: 100px;">
            <a href="/termos">Privacidade</a>
            <a href="/termos">Termos de Uso</a>
            <a href="mailto:sxgaming.org@gmail.com">Contato</a>
        </div>
    </footer>  
</body>

</html>