<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/media/img/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>{% block title %} SX Gaming{% end block %}</title>
</head>
<body>
    
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/historia">Nossa História</a>
            <a href="/players">Players</a>
            <a href="/noticias">Notícias</a>
        </nav>
    </header>

</body>
</html>