{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %} 
SX Gaming | Home 
{% endblock %}

{% block content %}
<div id="content">
    <h1>Nós somos a SX Gaming. Seja bem-vindo(a) ao nosso site!</h1>
    <p>Nós somos uma organização vigente desde 2022. Aqui você vai descobrir não só o nosso passado, como o presente e o futuro.</p>
    <p style="text-align: right;">#GoSXG</p>

    <div class="showdex">
        <p>OS SAMURAIS DO SEXO</p>
        <img  id="samuraisxg" src="../static/media/img/samuraisxg.png" alt="Samurai SXG">
    </div>

    <br><br>

    <h2 style="text-align: center;">Últimas notícias:</h2>
    <div id="lastnews">
        <script src="../static/js/index.js?v=1.1"></script>
        <ul id="news-list"></ul>
    </div>
</div>

<script src="../static/js/base.js?v=1.1"></script>
<button class="top-button" id="topButton" onclick="voltarAoTopo()">▲</button>
{% endblock %}