{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %} 
SX Gaming | Home 
{% endblock %}

{% block content %}
<div id="content">
    <h1>Nós somos a SX Gaming. Seja bem-vindo(a) ao nosso site!</h1>
    <p>Nós somos uma organização vigente desde 2022. Aqui você vai descobrir não só o nosso passado, como o presente e o futuro.</p>
    <p style="text-align: right;">#GoSXG</p>

    <div class="showdex">
        <p>OS SAMURAIS DO SEXO</p>
        <img  id="samuraisxg" src="{{ url_for('static', filename='media/img/samuraisxg.png') }}" alt="Samurai SXG">
    </div>

    <br><br>
<!--  -->
<h2 style="text-align: center;">Últimas notícias:</h2>
<div id="lastnews">
    <ul id="news-list">
        {% for noticia in noticias %}
            <li>
                <div class="news">
                    <img class="image" src="{{ noticia.image_link }}" alt="{{ noticia.titulo }}">
                    <h3>{{ noticia.title }}</h3>
                    <p><small>{{ noticia.date_published.strftime('%d/%m/%Y - %H:%M') }}</small></p>
                    <p>{{ noticia.resume }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</div>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<button class="top-button" id="topButton" onclick="voltarAoTopo()">▲</button>
{% endblock %}