{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/noticias.css') }}">
{% endblock %}

{% block title %} 
SX Gaming | Notícias
{% endblock %}

{% block content %} 

    <div id="content">
        {% for noticia in noticias %}
            <li style="list-style: none;">
                <div class="news">

                    <div class="image">
                        <img src="{{ noticia.image_link }}" alt="{{ noticia.titulo }}">
                    </div>
                    
                    <div class="newscontent">
                        <h1>{{ noticia.title }}</h1>
                        <h3><small>{{ noticia.date_published.strftime('%d/%m/%Y - %H:%M') }}</small></h3>
                        <h2>{{ noticia.resume }}</h2>
                    </div>
                    
                </div>
            </li>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/base.js')}}"></script>

    <button class="top-button" id="topButton" onclick="voltarAoTopo()">▲</button>

</body>
{% endblock %}