{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/players.css') }}">
{% endblock %}

{% block title %} 
SX Gaming | Players 
{% endblock %}

{% block content %} 
<script src="{{ url_for('static', filename='js/players.js') }}"></script>
<div id="loader" class="loader"></div>
<audio id="audio" src="{{ url_for('static', filename='audio/whoosh-cinematic-161021.mp3') }}"></audio>

<h1 class="title">LINE DE LEAGUE OF LEGENDS</h1>
<div id="content">
    <div class="carousel">
        <div class="slides">
            <div class="slide">
                <img src="{{ url_for('static', filename='media/img/cards/TOPLANER.png') }}" alt="Toplaner">
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='media/img/cards/JUNGLER.png') }}" alt="Jungler">
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='media/img/cards/MIDLANER.png') }}" alt="Midlaner">
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='media/img/cards/ADCARRY.png') }}" alt="ADC">
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='media/img/cards/SUPORTE.png') }}" alt="Suporte">
            </div>
        </div>

        <div class="nav-arrows">
            <label class="prev" onclick="changeSlide(-1)">&#10094;</label>
            <label class="next" onclick="changeSlide(1)">&#10095;</label>
        </div>

    </div>
</div>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<button class="top-button" id="topButton" onclick="voltarAoTopo()">▲</button>
</body>
{% endblock %}