<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>SX Gaming</title>
        <link rel="icon" type="image/x-icon" href="../static/media/img/favicon/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/historia">Nossa História</a>
                <a href="/players">Players</a>
                <a href="/noticias">Notícias</a>
            </nav>
        </header>

        <footer>
            <div class="footer-content">
                <img src="../static/media/img/logo.png" alt="logo">
                <div>© SX Gaming, 2024</div>
                <a href="https://x.com/SxG_esports" target="_blank"><img src="../static/media/img/redes/x.png" alt="X/Twitter" class="social-media"></a>
            </div>
            <div>
                <a href="privacy.html">Privacidade</a>
                <a href="terms.html">Termos de Uso</a>
                <a href="contact.html">Contato</a>
            </div>
        </footer>  
    </body>
</html>