{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/players.css') }}">
{% endblock %}

{% block title %} 
SX Gaming | Players 
{% endblock %}

{% block content %} 

<div id="loader" class="loader">
    <div class="loader-inner">
        <h1>Carregando...</h1>
        <div class="spinner"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/players.js') }}"></script>

<audio id="audio" src="{{ url_for('static', filename='audio/whoosh-cinematic-161021.mp3') }}"></audio>

<h1 class="title">LINE DE LEAGUE OF LEGENDS</h1>
<div id="content">
    <div class="carousel">
        <div class="slides">
            <div class="slide">
                <div id="top">
                    <img src="{{ url_for('static', filename='media/img/cards/kekko.png') }}" alt="kekko" class="player">
                    <h1>kekko,</h1>
                    <h2>toplaner</h2>
                    <p>Um dos fundadores da SXG em 2023, jogou por algumas lanes durante seus 2 anos de League of Legends como atirador e suporte, mas sempre voltou para a toplane, onde ele mostra sua verdadeira face. Atualmente, é um dos jogadores que mais joga no time.</p>
                    <div style="display: flex; margin-top: 25px; margin-left: 50px; padding-bottom: 25px;">
                        <h3>Peak elo:</h3>
                        <img src="{{ url_for('static', filename='media/img/rankplatinum.png') }}" alt="Platina" class="elo">
                    </div>
                    <h3>Bonecos assinatura:</h3>
                    <div style="display: flex; justify-content: center; align-items: center;  padding-top: 25px;">
                        <img src="https://i.pinimg.com/474x/a2/d4/d1/a2d4d166203d9d487f569f4ff1a7e66a.jpg" alt="Aatrox" class="champion" style="margin-left: 0;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/gnar/skins/base/gnarloadscreen.jpg" alt="Gnar" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/mordekaiser/skins/base/mordekaiserloadscreen.jpg" alt="Mordekaiser" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/ambessa/skins/base/ambessaloadscreen_0.domina.jpg" alt="Ambessa" class="champion">
                    </div>
                    <img src="{{ url_for('static', filename='media/img/signatures/kekko.png') }}" alt="kekko's signature" class="signature" style="margin-top: 50px">
                </div>
            </div>

            <div class="slide">
                <div id="jg">
                    <img src="{{ url_for('static', filename='media/img/cards/wasshoi.png') }}" alt="wasshoi" class="player">
                    <h1>wasshoi,</h1>
                    <h2>jungler</h2>
                    <p>Pode ser comparado ao jungler Aegis da Red Canids, e com isso você tira suas conclusões. Tem seus períodos em que está mais manso e em outros ele simplesmente não se comunica com os outros jogadores, quando está de bom humor é um jogador legítimo.</p>
                    <div style="display: flex; margin-top: 25px; margin-left: 50px; padding-bottom: 25px;">
                        <h3>Peak elo:</h3>
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/ux/fonts/texticons/lol/ranks/rankgold.png" alt="Gold" class="elo">
                    </div>
                    <h3>Bonecos assinatura:</h3>
                    <div style="display: flex; justify-content: center; align-items: center;  padding-top: 25px;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/monkeyking/skins/base/monkeykingloadscreen.jpg" alt="Wukong" class="champion" style="margin-left: 0;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/lillia/skins/base/lillialoadscreen.jpg" alt="Lillia" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/kindred/skins/base/kindredloadscreen.jpg" alt="Kindred" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/diana/skins/base/dianaloadscreen.jpg" alt="Diana" class="champion">
                    </div>
                    <img src="{{ url_for('static', filename='media/img/signatures/wasshoi.png') }}" alt="wasshoi's signature" class="signature">
                </div>
            </div>

            <div class="slide">
                <div id="mid">
                    <img src="{{ url_for('static', filename='media/img/cards/gusotrem.png') }}" alt="gus o trem" class="player">
                    <h1>gus o trem,</h1>
                    <h2>midlaner</h2>
                    <p>Gus o trem estava desde o começo da SXG, mesmo flertando com a posição de atirador, ele sempre acaba voltando para a midlane. Foi o jogador a atingir o maior elo da história da organização. Junto de kekko, eles são os jogadores que mais jogam na equipe atualmente.</p>
                    <div style="display: flex; margin-top: 25px; margin-left: 50px; padding-bottom: 25px;">
                        <h3>Peak elo:</h3>
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/ux/fonts/texticons/lol/ranks/rankdiamond.png" alt="Diamante" class="elo">
                    </div>
                    <h3>Bonecos assinatura:</h3>
                    <div style="display: flex; justify-content: center; align-items: center;  padding-top: 25px;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/yone/skins/base/yoneloadscreen.jpg" alt="Yone" class="champion" style="margin-left: 0;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/sylas/skins/base/sylasloadscreen.jpg" alt="Sylas" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/renekton/skins/base/renektonloadscreen.jpg" alt="Renekton" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/lucian/skins/base/lucianloadscreen.jpg" alt="Lucian" class="champion">
                    </div>
                    <img src="{{ url_for('static', filename='media/img/signatures/gusotrem.png') }}" alt="gus o trem's signature" class="signature">
                </div>
            </div>

            <div class="slide">
                <div id="adc">
                    <img src="{{ url_for('static', filename='media/img/cards/law.png') }}" alt="law" class="player">
                    <h1>law,</h1>
                    <h2>atirador</h2>
                    <p>O último jogador que integrou o elenco, que rapidamente se entrosou com os outros jogadores. Despontou como um ótimo midlaner em seu primeiro Clash, mas atualmente joga como atirador. Anda desanimado com o LoL, jogando apenas URF e ARAM.</p>
                    <div style="display: flex; margin-top: 25px; margin-left: 50px; padding-bottom: 25px;">
                        <h3>Peak elo:</h3>
                        <img src="{{ url_for('static', filename='media/img/rankplatinum.png') }}" alt="Platina" class="elo">
                    </div>
                    <h3>Bonecos assinatura:</h3>
                    <div style="display: flex; justify-content: center; align-items: center;  padding-top: 25px;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/xayah/skins/base/xayahloadscreen.jpg" alt="Xayah" class="champion" style="margin-left: 0;">
                        <img src="https://i.pinimg.com/474x/a2/d4/d1/a2d4d166203d9d487f569f4ff1a7e66a.jpg" alt="Aatrox" class="champion">
                        <img src="https://i.pinimg.com/474x/a2/d4/d1/a2d4d166203d9d487f569f4ff1a7e66a.jpg" alt="Aatrox" class="champion">
                        <img src="https://i.pinimg.com/474x/a2/d4/d1/a2d4d166203d9d487f569f4ff1a7e66a.jpg" alt="Aatrox" class="champion">
                    </div>
                </div>
            </div>

            <div class="slide">
                <div id="sup">
                    <img src="{{ url_for('static', filename='media/img/cards/akkinory.png') }}" alt="Akkinory" class="player">
                    <h1>Akkinory,</h1>
                    <h2>suporte</h2>
                    <p>O Akkinory foi a maior promessa da história da SXG, despontou em 2024 como uma esperança para o time, com winrates altíssimo e rapidamente pegando platina, mas disso ele não passou, hoje em dia encontra-se na mediocridade, sem nem jogar LoL direito.</p>
                    <div style="display: flex; margin-top: 25px; margin-left: 50px; padding-bottom: 25px;">
                        <h3>Peak elo:</h3>
                        <img src="{{ url_for('static', filename='media/img/rankplatinum.png') }}" alt="Platina" class="elo">
                    </div>
                    <h3>Bonecos assinatura:</h3>
                    <div style="display: flex; justify-content: center; align-items: center;  padding-top: 25px;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/karma/skins/base/karmaloadscreen.jpg" alt="Karma" class="champion" style="margin-left: 0;">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/tahmkench/skins/base/tahmkenchloadscreen.jpg" alt="Tahm Kench" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/nautilus/skins/base/nautilusloadscreen.jpg" alt="Nautilus" class="champion">
                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/rell/skins/base/rellloadscreen.jpg" alt="Rell" class="champion">
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-arrows">
            <label class="prev" onclick="changeSlide(-1)">&#10094;</label>
            <label class="next" onclick="changeSlide(1)">&#10095;</label>
        </div>

    </div>
</div>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<button class="top-button" id="topButton" onclick="voltarAoTopo()">▲</button>
</body>
{% endblock %}